
html,
body,

.view {
    height: 100%;
}



.jumbotron {background-color: #ADD8E6;
            margin-bottom: 0;

}



.navbar {
    background-color: #992020;
    border-color: #E7E7E7;
    margin-bottom: 50px;
    border-radius: 0;

}


 footer {
   background-color: #4682b4;
      padding: 25px;
    }

  
  
