/* css style for html pages */

html,
body,

.view {
    height: 100%;
    background-color: lightblue;
    font-weight: bold;
    color: black;
}

/* jumbotron setings */

.jumbotron {background-color: #ADD8E6;
            margin-bottom: 0;

}

/* navbar settings */

.navbar {
    background-color: #992020;
    border-color: #E7E7E7;
    margin-bottom: 50px;
    border-radius: 0;

}




hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}


/* footer settings */

 footer {
   background-color: #4682b4;
      padding: 25px;
    }
